@import '/src/scss/vars';

.strategy{
    text-align: center;
    margin-top: 30px;
    h2,h3{
        margin: 28px 0;
    }
    &__inner{
        width: 90%;
        margin: 0 auto;

        img{
            width: 90%;
           
        }
    }

    &__text2{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        p{
            font-weight: 600;
            margin-bottom: 30px;
        }
        ul{
            padding: 10px;
            li{
                width: 100%;
                margin: 11px auto;
                list-style:circle;
                text-align: left;
            }
        }
    }
}

@media screen and (min-width: 872px){
    .strategy{
        margin-top: 80px;
        h2,h3{
            margin-bottom: 38px;
            font-size: 30px;
        }

        &__text2,&__text {
            p{
                width: 100%;
            }
        }
    }
}
