@import '/src/scss/vars';

.spacialist{
    margin-top: 30px;
    &__member{
        text-align: center;
        margin: 45px 0;

        img{
            width: 100px;
            border-radius: 50%;
        }

        h6{
            font-size: 14px;
            margin: 20px 0;
        }
    }
    &__post{
        font-weight: 600;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 872px){
    .spacialist{
        &__member{
            display: flex;

            img{
                width: 150px;
            }

            h6{
                font-size: 18px;
            }
        }
        &__sosLin{
            width: 25%;
        }
        &__text{
            width: 75%;
            p{
                text-align: left;
            }
        }
    }
}

@media screen and (min-width: 972px){
    .spacialist{
        margin-top: 85px;
        &__sosLin{
            p{
                width: 100%;
                font-size: 20px;
                line-height: 28px;
            }
        }
        &__text{
            p{
                width: 100%;
                font-size: 20px;
                line-height: 28px;
            }
        }
    }
}