@import '/src/scss/vars';

.about {
    margin-top: 55px;
    h2{
        text-align: center;
        margin-bottom: 30px;
    }
    &__info{
        text-align: center;
    }

    &__text{
        text-align: center;
        p{
            text-align: center;
            margin-top: 30px;
        }
    }
    &__button{
        @extend %button;
        margin: 30px 0;

    }
    &__Text{
        text-align: center;
    }

    &__goal{
        width: 100%;
        position: relative;
        height: 200px;
        background-color: $mainColor;

        h4{
            position: absolute;
            color: $secondColor;
        }
        h6{
            position: absolute;
            color: $secondColor;
            opacity: 0.85;
            font-size: 8px; 
        }
    }
    &__goal :nth-child(1){
        left: 20%;
        top: 10%;
    }
    &__goal :nth-child(2){
        right: 13%;
        top: 25%;
    }
    &__goal :nth-child(3){
        right: 33%;
        top: 45%;
    }
    &__goal :nth-child(4){
        right: 18%;
        top: 75%;
    }
    &__goal :nth-child(5){
        left: 3%;
        top: 65%;
    }
    &__goal :nth-child(6){
        left: 30%;
        top: 85%;
    }
    &__goal :nth-child(8){
        left: 13%;
        top: 77%;
    }
    &__goal :nth-child(9){
        left: 5%;
        top: 89%;
    }
    &__goal :nth-child(10){
        right: 12%;
        top: 89%;
    }
    &__goal :nth-child(11){
        right: 14%;
        top: 59%;
    }
    &__goal :nth-child(12){
        left: 22%;
        top: 59%;
    }
    &__goal :nth-child(13){
        left: 7%;
        top: 39%;
    }
    &__goal :nth-child(14){
        right: 7%;
        top: 39%;
    }
    &__goal :nth-child(15){
        left: 70%;
        top: 9%;
    }
    &__goal :nth-child(16){
        left: 3%;
        top: 19%;
    }

    &__goalText{
        margin: 30px;
        text-align: center;
    }

    &__specialists{
        text-align: center;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li{
                text-align: center;
                margin: 10px;
                width: 120px;
                img{
                    width: 100px;
                    border-radius: 50%;
                }
                h6{
                    margin: 12px 0;
                }
                :hover{
                    color: $secondColor;
                }
            }
            
        }
    }

}

@media screen and (min-width: 872px){
    .about {
        margin-top: 85px;
        h2{
            font-size: 30px;
            margin: 50px 0;
        } 
        p{
            width: 80%;
            margin: 45px auto;
            font-size: 18px;
            line-height: 28px;
        }
        &__button{
            width: 180px;
            height: 40px;
            font-size: 18px;
        }

        &__goal{
            height: 350px;

            h4{
                font-size: 28px;
            }
            h6{
                font-size: 18px;
            }
        }
    }

}

@media screen and (min-width: 1124px){
    .about {
        &__first{
            display: flex;
        }

        &__info{
            width: 50%;
            video{
                width: 97%;
                height: 350px;
            }
        }
        &__text{
            width: 50%;
            text-align: left;
            padding-left: 18px;
            p{
                width: 100%;
                text-align: left;
                margin: 0;
            }
        }

        &__specialists{
            ul{
    
                li{
                    width: 200px;
                    img{
                        width: 200px;
                        border-radius: 50%;
                    }
                    h6{
                        margin: 12px 0;
                        font-size: 20px;
                    }
                }
            }   
            
        }
    }
}

