@import '/src/scss/vars';

#ContactsMain {
    margin-top: 150px;
}

.contacts {
    font-family: Roboto;

    &_title{
        text-align: center;
    }
    }
     
    .contacts_adress {
        margin-top: 77px;
        font-size: 24px;
        h3 {
            text-align: center;
            position: relative;
            padding: 0 0 10px 0;
        }
        h3::after {
            position: absolute;
            bottom: 0;
           left: 50%;
           transform: translatex(-50%);
           width: 165px;
           height: 6px;
        background-color: #EA6227;
        content: "";
        }
        a{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            color: $mainTitleColor;
        }
    }
    
    #ascUs{
        margin-top: 150px;
       
    }
    
     @media (max-width: 982px) {
        .contacts_adress {
            font-size: 20px;
        }
    } 
    
    @media (max-width: 768px) {
        #ContactsMain {
            margin-top: 100px;
        }
        .contacts_adress {
            font-size: 15px;
        }
            .contacts_title {
                font-size: 30px;
            }
    
    } 
    
    @media (max-width: 375px) {
        .contacts_adress {
            font-size: 12px;
        }
            .contacts_title {
                font-size: 28px;
            }
    
    }