    .p{
      background-color: #050339;
      color: white;
      height: 20px;
      width: 100%;
      text-align: center;
      font-size: 10px;
      padding: 10px;
    }

    #Footer {
      margin-top: 55px;
    }
    .uli{
            background-color: #342EAD;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
              li{
              align-items: center;
              text-align: center;
          }
              a{
                 border-right: 1px solid white;
              padding-right: 4px;
              padding-left: 4px;
              font-size: 8px;
              color: white;
            }
          }
          .uli  li:last-child a{
            border-right: 0;
          }
.divsa{
  width: 100%;
  background-color: #342EAD;
}
.contacss{
a{
    border-right: none;
  }
}

.logos{
  a{
    font-size: 12px;
  }
 
}


@media screen  and ( min-width: 768px ){
  #Footer {
    margin-top: 85px;
  }
  .uli{
    a{
      font-size: 12px;
    }
  }

  .logos{
    a{
      font-size: 20px;
    }
  }
  .p{
    font-size: 14px;
  }
}


@media screen and (min-width: 1024px) {
  .uli{
    a{
      font-size: 14px;
    }
  }
  .logos{
    a{
      font-size: 22px;
    }
  }
  .p{
    font-size: 20px;
  }
}
