@import '/src/scss/vars';
.accardion {
    width: 75%;
    margin: 0 auto 5px;
    border: 2px solid $mainTitleColor;

    &__header{
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 8px;

        h2{
            font-size: 16px;
            color: $mainTitleColor;
        }

        &:hover {
            .accardion__arrow{
                color: $secondColor;
            }
        }
    }

    &__body {
        padding: 8px;

        h4{
            margin: 10px 0;
            color: $mainTitleColor;
        }

        button{
            @extend %button;
            margin: 10px 0;
        }
    }
    
}

@media screen and (min-width: 760px) {
    .accardion {
        &__header h2{
            font-size: 22px;
        }

        &__body h4{
            font-size: 20px;
        }
        &__body p{
            font-size: 18px;
        }

        button{
            width: 150px;
            height: 35px;
            margin: 30px 0;
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 960px) {
    .accardion {
        max-width: 1000px;
        &__header h2{
            font-size: 28px;
        }

        &__body p{
            width: 100%;
            margin: 25px 0;
        }
    }
}
