*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

#salle{
    margin: 20px 0;
}
.salle__text{
    width: 100%;
    height: 34px;
    background-color: #342EAD;
    color: #EA6227;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.container{
    width: 85%;
    margin: 0 auto;
    padding: 2px;
}

.block{
    padding: 5px;
    border: 2px solid  #EA6227;
    text-align: center;
    margin: 18px;
    h3{
        margin: 8px;
        color:  #EA6227;
    }

    p{
        margin: 12px 0;
        color:  #342EAD;
        font-size: 20px;
        font-weight: 700;
    }
}



// ==============biznes===========

.biznes {

    h3{
        text-align: center;
        margin: 21px;
    }

    &__biznesIMG{

        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__img {
        // width: 30;
        height: 78px;
        object-fit: cover;
        margin-right: 15px;
        

        img{
            width: 97px;
            height: 78px; 
        }
    }

    &__video{
        width: 250px;
        height: 160px;
        margin: 20px auto;

        img{
            width: 250px;
            height: 160px;
        }
    }

    &__text{
        text-align: center;
    }

}


@media screen and (min-width: 632px){
    .salle__text{
        height: 54px;
        font-size: 24px;
    }


    .salle {
        width: 90%;
        margin: 10px auto;
        display: flex;

        &__bloc1{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__bloc2{
            width: 70%;
        }
    }

    // ==========

    .biznes {

        h3{
            font-size: 26px;
        }
    
        &__img {
            width: 160px;
            height: 120px;
            
    
            img{
                width: 160px;
                height: 120px;
            }
        }
    
        &__video{
            width: 280px;
            height: 200px;
    
            img{
                width: 280px;
                height: 200px;
            }
        }
    
    }
}

@media screen and (min-width: 872px){

    .salle__text{
        height: 74px;
        font-size: 30px;
    }

    .block{
        h3{
            font-size: 26px;
            margin: 10px;
        }
    
        p{
            margin: 16px 0;
            font-size: 28px;
        }
    }

    // ==========

    .biznes {

        h3{
            font-size: 32px;
        }
    
        &__img {
            width: 220px;
            height: 170px;
            margin-right: 25px;
            
    
            img{
                width: 220px;
                height: 170px;
            }
        }
    
        &__video{
            width: 380px;
            height: 250px;
            margin-top: 35px;
    
            img{
                width: 380px;
                height: 250px;
            }
        }

        &__text{
            width: 80%;
            margin: 45px auto;
            font-size: 18px;
        }
    
    }
}

@media screen and (min-width: 1221px){
    .salle__text{
        height: 84px;
        font-size: 44px;
    }

        // ==========

        .biznes {

            h3{
                font-size: 36px;
                line-height: 42px;
            }
        
            &__img {
                width: 300px;
                height: 240px;
                
        
                img{
                    width: 300px;
                    height: 240px;
                }
            }
        
            &__video{
                width: 660px;
                height: 450px;
        
                img{
                    width: 660px;
                    height: 450px;
                }
            }
    
            &__text{
                font-size: 22px;
                line-height: 38px;
            }
        
        }
}
